@{
    Layout = "~/Views/Shared/_StatisticsLayout.cshtml";
}

<div class="row" ng-controller="chartController as chart" ng-init="chart.initPersonalChart();">
    <div class="col-lg-4">
        <div id="piechart_3d" style="height: 500px;">

        </div>
    </div>
    <div class="col-lg-8">
            <div id="barchart_month" style="height: 500px;">

            </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
            <div id="barchart_s" style="height: 500px;">

            </div>
    </div>
    <div class="col-lg-4">
            <div id="barchart_c" style="height: 500px;">

            </div>
    </div>
    <div class="col-lg-4">
            <div id="barchart_cr" style="height: 500px;">

            </div>
    </div>
</div>