<div class="table" ng-controller="statisticPersonalController as statistic">
    <div ng-init="statistic.init()">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Overall balance:</div>
            <div class="col-sm-4" ng-bind="statistic.total"></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <ol>
                <li ng-repeat="operation in statistic.currenciesOperations">
                    {{operation.Name}}:{{operation.Sum}}
                </li>
            </ol>
        </div>
        <div class="row">
            <button ng-click="statistic.redirectToDetailedSourceInfo()">Detailed info</button>
        </div>
    </div>
</div>
