<div class="table" ng-controller="statisticPersonalController as statistic" style="font-size:22px">
    <div ng-init="statistic.init()">
        <div class="row">
        <img heigth="500"/>
        </div>
        <div class="row">
            Overall balance: <span ng-bind="statistic.total"></span>
        </div>
        <div class="row">
                <ul class="list-group">
                    <li ng-repeat="operation in statistic.currenciesOperations" class="list-group-item">
                        {{operation.Name}}:{{operation.Sum}}
                    </li>
                </ul>
        </div>
        <div class="row" style="align-content:center">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <button ng-click="statistic.redirectToDetailedSourceInfo()" class="btn btn-success">Detailed info</button>
            </div>
        </div>
    </div>
</div>
