<script type="text/ng-template" id="addOperationPopup.html">
    <div class="modal-header" ng-init="init()">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div ng-show="isAddOperation">
            <h4>Income operation</h4>
        </div>
        <div ng-show="!isAddOperation">
            <h4>Outcome operation</h4>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-3">
                Current date
            </div>
            <div class="col-lg-9">
                <input type="date" ng-model="popUpArguments.date" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                Source
            </div>
            <div class="col-lg-5">
                <select ng-model="popUpArguments.source" ng-options="dataRepeat.Name for dataRepeat in popUpArguments.availableSource track by dataRepeat.Id"></select>
            </div>
            <div class="col-lg-4">
                <label><input type="checkbox" name="name" ng-model="popUpArguments.newSourceCheckBox" />New</label>
            </div>
        </div>
        <div class="row" ng-show="validation.variableIsTrue(popUpArguments.newSourceCheckBox)">
            <div class="col-lg-3">
                New source
            </div>
            <div class="col-lg-9">
                <input type="text" ng-model="popUpArguments.newSourceText" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                Category
            </div>
            <div class="col-lg-5">
                <select ng-model="popUpArguments.category" ng-options="dataRepeat.Name for dataRepeat in popUpArguments.availableCategory track by dataRepeat.Id"></select>
            </div>
            <div class="col-lg-4">
                <label><input type="checkbox" name="name" ng-model="popUpArguments.newCategoryCheckBox" />New</label>
            </div>
        </div>
        <div class="row" ng-show="validation.variableIsTrue(popUpArguments.newCategoryCheckBox)">
            <div class="col-lg-3">
                New category
            </div>
            <div class="col-lg-9">
                <input type="text" ng-model="popUpArguments.newCategoryText" />
            </div>
        </div>
        @* Currency are preinstalled now *@
        <div class="row">
            <div class="col-lg-3">
                Currency
            </div>
            <div class="col-lg-5">
                <select name="mySelect" id="mySelect" ng-model="popUpArguments.currency" ng-options="option.Name for option in popUpArguments.availableCurrency track by option.Id"></select>
            </div>
           
            @*<div class="col-lg-4">
                        <label><input type="checkbox" name="name" ng-model="popUpArguments.newCurrencyCheckBox" />New</label>
                    </div>
                </div>
                <div class="row" ng-show="validation.variableIsTrue(popUpArguments.newCurrencyCheckBox)">
                    <div class="col-lg-3">
                        New currency
                    </div>
                    <div class="col-lg-9">
                        <input type="text" ng-model="popUpArguments.newCurrencyText" />
                    </div>
                </div>
                <div class="row" ng-show="validation.variableIsTrue(popUpArguments.newCurrencyCheckBox)">
                    <div class="col-lg-3">
                        New currency rate
                    </div>
                    <div class="col-lg-9">
                        <input type="number" step="0.01" ng-model="popUpArguments.newCurrencyRate" min="0.01"/>
                    </div>*@
        </div>
        <div class="row">
            <div class="col-lg-3">
                Summ
            </div>
            <div class="col-lg-9">
                <input type="number" ng-model="popUpArguments.summ" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                Commentary
            </div>
            <div class="col-lg-9">
                <textarea rows="4" ng-model="popUpArguments.commentary" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ok()">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Close</button>
    </div>
</script>