<script type="text/ng-template" id="freelanceHoursSpendedPopup.html">
    <div class="modal-header" ng-init="init()">
        <h3>Add spended hours</h3>
    <div>
        <input type="number" ng-model="spendedModel.Hours"/></div>
    </div>
    <div>
        <button ng-click="ok()">Add hours</button>
    </div>
</script>
