
@{
    ViewBag.Title = "Index";
}

<div ng-app="app" ng-controller="accountantMainController">
    <h3>{{msg}}</h3>
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("~/Views/Statistic/MainInfo.cshtml")
        </div>
        <div class="col-md-9">
            @Html.Partial("~/Views/Statistic/monthFullStatistic.cshtml")
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            @Html.Partial("~/Views/Operation/OperationChoose.cshtml")
        </div>
        <div class="col-md-7">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
    </div>
    <button class="btn btn-default" type="button" ng-click="openModal()">Click to Open Modal</button>
</div>

