<div class="table" style="font-size:22px">
    <div ng-init="statistic.init()">
        <div class="row">
            Total active debts
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">

                    Total debit is <span ng-bind="statistic.totalDebit">0</span>$

                </li>
                <li class="list-group-item">
                    Total credit is <span ng-bind="statistic.totalCredit">0</span>$
                </li>
            </ul>
        </div>
    </div>
</div>

