@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-xs-6 col-centered">
        <h2>Add operation</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-info btn-lg btn-with-image" ng-click="openNewOperationModal(true)">
        <img src="~/Images/plus-icon.png" alt="income operation" /></button>
    </div>
    <div class="col-md-9" >
        Income
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-info btn-lg btn-with-image" ng-click="openNewOperationModal(false)" >
        <img src="~/Images/minus-icon.png" alt="outcome operation"/></button>

    </div>
    <div class="col-md-9">
        OutCome
    </div>
</div>

@Html.Partial("~/Views/popUp/addOperationPopup.cshtml")
